.advantages {
  background-image: url(../assets/img/bg-section2.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: auto 100%;
  padding-top: 165px;

  .heading {
    font-weight: 400;
    text-align: left;
    margin-bottom: 23px;
  }

  .container {
    display: flex;
    align-items: center;
  }

  .part {
    &_left {
      position: relative;
      width: 39%;
      min-height: 511px;
    }

    &_right {
      width: 61%;
    }
  }

  .wrap-img {
    position: absolute;
    max-width: 837px;
    width: 100vw;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 0 80px 0 80px;
    overflow: hidden;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    padding-top: 23px;
  }

  &__item {
    display: flex;
    align-items: center;
    width: 50%;
    font-size: 20px;
    line-height: 1.4;
    padding: 28px 10px 28px 0;
  }

  &__icon {
    width: 80px;
    height: 83px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    flex-shrink: 0;
  }

  &__text {
    padding-left: 11px;
  }
}
@include respond-to($md) {
  .advantages{
    &__item{
      font-size: 16px;
    }

    .container {
      flex-wrap: wrap;
    }

    .part {
      width: 100%;

      &_left {
        height: auto;
        min-height: 0;
        padding-bottom: 124px;
      }
    }

    .wrap-img {
      width: 100%;
      position: static;
    }
  }
}

@include respond-to($xs) {
  .advantages {
    padding-top: 105px;
    background-image: url(../assets/img/bg-mob2.png);
    background-size: contain;

    &__item {
      width: 100%;
      max-width: 420px;
      padding-top: 15px;
      padding-bottom: 15px;
    }


  }
}
