.assess-pain{
  padding-top: 180px;
  background-color: #f3f5f8;
  border-radius: 80px;
  background-image: url(../assets/img/bg-section.png);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: auto 100%;
  min-height: 1044px;
}