.procedure {
  background-color: #f3f5f8;
  border-radius: 80px;
  background-image: url(../assets/img/arrows.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 180px 0 172px;
  margin-bottom: 100px;

  .heading {
    margin-bottom: 86px;
  }

  .block-info {
    max-width: 938px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    margin-bottom: 190px;
  }

  &__step {
    max-width: 700px;
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0;
    }

    &:nth-child(odd) {
      margin-left: auto;
    }

    &:nth-child(even) {
      .card__step {
        margin-left: auto;
      }
    }
  }

  .card {
    width: 100%;
    display: flex;
    align-items: flex-end;
    will-change: transform;

    &__step {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #f16330;
      color: #ffffff;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      font-weight: 700;
      font-size: 20px;
      line-height: 1;
      margin-bottom: 15px;
    }

    &__thumb {
      position: relative;
      width: 200px;
      height: 200px;
      border: 2px solid #2395E8;
      border-radius: 10px;
      flex-shrink: 0;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      &:before {
        position: absolute;
        content: '';
        display: block;
        width: 64px;
        height: 7px;
        background-image: url(../assets/img/line.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        top: 50%;

      }

      &:nth-child(odd):before {
        transform: translate(100%, -50%);
        right: -17px;
      }

      &:nth-child(even):before {
        transform: translate(-100%, -50%) rotate(180deg);
        left: -17px;
      }
    }

    &__body {
      padding-bottom: 10px;
      padding-right: 95px;
      text-align: right;

    }

    .to-left {
      padding-right: 0;
      padding-left: 95px;
      text-align: left;
      margin-left: 0;
    }
  }
}

@include respond-to($md) {
  .procedure {
    background-image: none;

    &__step {
      max-width: 440px;
      margin-bottom: 40px;
    }

    .card {
      font-size: 16px;
      align-items: center;

      &__thumb {
        position: relative;
        width: 140px;
        height: 140px;

        &:before {
          width: 40px;
        }

        &:nth-child(odd):before {
          right: -7px;
        }

        &:nth-child(even):before {
          left: -7px;
        }
      }

      &__body {
        padding-right: 45px;
        padding-bottom: 0;
      }

      &__step {
        width: 35px;
        height: 35px;
        font-size: 16px;
        margin-bottom: 5px;
      }

      .to-left {
        padding-right: 0;
        padding-left: 45px;

      }
    }
  }
}

@include respond-to($sm) {
  .procedure {
border-radius: 40px 40px 40px 40px;
    &__step {
      max-width: 312px;
      width: 100%;

      &:nth-child(odd) {
        margin: 0 0 50px;
      }
    }

    &__list {
      align-items: center;
    }

    .card {
      flex-direction: column;

      &__thumb {
        width: 200px;
        height: 200px;

        &:before {
          display: none;
        }
      }

      &__body {
        position: relative;
        text-align: left;
        order: 1;
        padding: 10px 0 10px 56px;
      }

      &__step {
        position: absolute;
        width: 40px;
        height: 40px;
        font-size: 20px;
        top: 10px;
        left: 0;
      }

      .to-left {
        padding-left: 56px;
      }
    }
  }
}

@include respond-to($xs) {
  .procedure {
    padding-top: 80px;
    padding-bottom: 80px;
    margin-bottom: 80px;
    &__list {
      margin-bottom: 0;
    }

    .heading {
      margin-bottom: 80px;
    }

    .block-info {
      display: none;
    }
  }
}