.section-banner {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  background: linear-gradient(283.67deg, #94cdf5 0%, #bddef6 41.15%, #e3f3ff 100%);
  opacity: 1;
  transition: opacity .2s;
  will-change: transform;
  z-index: 1;

  .container {
    position: relative;
    display: flex;
    align-items: center;
    padding-bottom: 66px;
    min-height: 940px;
  }

  &__slogan {
    font-size: 46px;
    line-height: 1.2;
    text-transform: uppercase;
    color: #0078cd;
  }

  &.anim_started {
    .vertebra__part:first-child {
      opacity: .2;
      transition-delay: 1.5s;
    }

    .vertebra__part:nth-child(2) {
      opacity: .35;
      transition-delay: 1.25s;
    }

    .vertebra__part:nth-child(3) {
      opacity: .45;
      transition-delay: 1.15s;
    }

    .vertebra__part:nth-child(4) {
      opacity: .6;
      transition-delay: 1.05s;
    }

    .vertebra__part:nth-child(5) {
      opacity: 1;
      transition-delay: .95s;
    }

    .vertebra__part:nth-child(6) {
      opacity: 1;
      transition-delay: .85s;
    }

    .vertebra__part:nth-child(7) {
      opacity: 1;
      transition-delay: .75s;
    }

    .vertebra__part:nth-child(8) {
      opacity: 1;
      transition-delay: .65s;
    }

    .vertebra__part:nth-child(9) {
      opacity: .95;
      transition-delay: .55s;
    }

    .vertebra__part:nth-child(10) {
      opacity: .45;
      transition-delay: .45s;
    }

    .vertebra__part:last-child {
      opacity: .4;
      transition-delay: .35s;
    }
  }

  &__anim {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    left: 50%;
    max-width: 980px;
    width: 100%;
    top: 0;
    bottom: 0;
    z-index: 0;

    .wrap-img_back {
      position: relative;
      max-width: 743px;
      width: 75%;
    }

  }

  .vertebra {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1;

    &__part {
      opacity: 0;
      transition: opacity .8s;
    }
  }

  &__img-anim {
    position: absolute;
    z-index: 2;
    animation: animX 2s both linear,
    animY 2s both linear;
  }
}


@keyframes animX {
  from {
    left: -15%;
  }
  to {
    left: -5px;
  }
}

@keyframes animY {
  from {
    bottom: 3%;
  }
  to {
    bottom: 13%;
  }
}


@include respond-to($xl) {
  .section-banner {
    &__slogan {
      max-width: 670px;
    }

    &__anim {
      left: 40%;
    }
  }
}

@include respond-to($md) {
  .section-banner {
    .wrap-img_back {
      display: none;
    }

    .container {
      align-items: flex-end;
      padding-bottom: 170px;
    }

    .scroll-down {
      display: none;
    }

    .section-banner__slogan {
      max-width: 100%;
    }

    .section-banner__anim {
      left: 50vw;
      top: 50%;
      max-width: 100vw;
      transform: translate(-50%, -50%);
    }

    .section-banner__img-anim {
      max-width: 600px;
    }
  }
}

@include respond-to($sm) {
  .section-banner {
    .container {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-end;
    }
    .section-banner__slogan {
      order: 2;
    }
    .section-banner__anim {
      top: 0;
      left: 0;
      position: relative;
      transform: none;
      order: 1;
    }
    .section-banner__img-anim {
      position: relative;
      max-width: 90vw;
      margin: 15% 0 -9%;
    }
  }
}

@include respond-to($xs) {
  .section-banner {
    flex-direction: column;
    .container{
      min-height: 755px;
    }
    .scroll-down {
      position: relative;
      width: 40px;
      height: 40px;
      left:auto;
      margin: 0 auto;
      display: block;
      transform: none;
    }
    .section-banner__slogan,
    .text-reveal__word-wrap {
      line-height: 1;
    }
    .text-reveal .text-reveal__word {
      font-size: 26px;
      line-height: 1.2;
    }
  }
}
@media screen  and (max-width: 375px) {
  .section-banner{
    .section-banner__img-anim {
      max-width: 85vw;
    }
    .container{
      min-height: 100vh;
    }
    .section-banner__slogan,
    .text-reveal .text-reveal__word,
    .text-reveal__word-wrap {
      font-size: 21px;
      line-height: 1;
    }
  }
}