.section-blog {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0 20px;
  }
}

.filter-posts {
  display: flex;

  .btn_light {
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }

    &.active {
      background: #2395e8;
      color: #ffffff;
    }

  }
}

.page-count {
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  color: #24243f;
}

.post-list {
  margin-bottom: 20px;

  &__item {
    padding: 20px 0;
  }
}

.post {
  display: flex;

  &:hover,
  &:focus {
    .post__title {
      color: #f16330;
    }
  }

  &__thumb {
    width: 44%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    padding-top: 28%;
  }

  &__content {
    width: 56%;
    padding-left: 40px;
    line-height: 1.5;
  }

  &__info-item {
    position: relative;
    font-weight: 700;
    font-size: 20px;
    line-height: 1;
    color: #939394;
    padding-left: 34px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    margin-right: 40px;

    &:last-child {
      margin-right: 0;
    }

    &:before {
      position: absolute;
      content: '';
      display: block;
      width: 24px;
      height: 24px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    &:nth-child(1):before {
      background-image: url(../assets/img/calendar.svg);
      top: calc(50% - 1px);;
    }

    &:nth-child(2):before {
      background-image: url(../assets/img/eye.svg);
    }
  }

  &__title {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.38;
    color: #475056;
    transition: .5s;
  }

  &__info {
    display: flex;
    margin-bottom: 20px;
  }
}

@include respond-to($md) {
  .post {
    flex-direction: column;

    &__thumb,
    &__content {
      width: 100%;
      padding-left: 0;
    }
    &__thumb{
      padding-top: 64%;
    }
  }
}

@include respond-to($xs){
  .post-author__avatar{
      width: 54px;
      height: 54px;
  }
  .post-author__info{
    font-size: 16px;
    line-height: 2;
  }
   .post__info{
   &-item{
     font-size: 14px;
     margin-bottom: 0;
   }
  }
}