.video-block {
  padding-bottom: 140px;

  .heading {
    margin-bottom: 80px;
  }
}

.video__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -12px;
}

.video__wrap {
  display: block;
  width: 50%;
  padding: 0 12px;
  border-radius: 10px;
  overflow: hidden;

  .wrap-img {
    position: relative;
    margin-bottom: 20px;
  }

  .btn-round_play {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    transition: background-color .35s;

    &:hover,
    &:focus {
      background-color: #f16330;
    }
  }
}

.video__title {
  transition: color .35s;
}

.video__info {
  margin-bottom: 45px;

  &__info-item {
    position: relative;
    font-weight: 700;
    font-size: 16px;
    padding-right: 14px;
    margin-right: 10px;
    line-height: 1;

    &:last-child {
      margin-right: 0;

      &:after {
        content: none;
      }
    }

    &:after {
      position: absolute;
      content: '|';
      display: block;
      right: -4px;
      top: 50%;
      transform: translateY(-50%);

    }
  }
}

@include respond-to($md) {
  .video-block {
    .heading_sm {
      font-size: 18px;
      margin-bottom: 5px;
    }
  }
  .video__info {
    font-size: 16px;
  }
}

@include respond-to($sm) {
  .video-block {
    .video__list {
      justify-content: center;
    }

    .video__wrap {
      width: 100%;
      max-width: 458px;
    }
  }
}

@include respond-to($xs) {
  .video-block {
    .heading {
      margin-bottom: 40px;
    }

    .decor-bg {
      font-size: 22px;
    }

    .heading_sm {
      font-size: 16px;
      margin-bottom: 5px;

    }
  }
  .video__info {
    font-size: 14px;
    margin-bottom: 20px;
  }
}