.btn {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  font-family: $main-font;
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
  border-radius: 10px;
  padding: 22px 16px;
  transition: .5s;

  &_main {
    background: #2395e8;
    color: #ffffff;

    &:hover,
    &:focus {
      color: #475056;
      background: #f3f5f8;
    }
  }

  &_light {
    color: #475056;
    background: #f3f5f8;

    &:hover,
    &:focus {
      background: #2395e8;
      color: #ffffff;
    }
  }
}

.search-btn,
.btn-back,
.close-btn {
  background-color: transparent;
  border: none;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 21px 25px;
}

.search-btn {
  background-image: url(../assets/img/search.svg);
}

.btn-round {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border: none;
  background-repeat: no-repeat;
  background-position: center;

  &_back {
    display: inline-block;
    position: fixed;
    right: 5.2%;
    bottom: 40vh;
    background-image: url(../assets/img/scroll-top.svg);
    background-size: 21px 25px;
    background-color: #f16330;
    transition: background-color .3s,
    opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;

    &.show {
      opacity: 1;
      visibility: visible;
    }
  }

  &_play {
    width: 100px;
    height: 100px;
    background-color: #2395e8;
    transform: rotate(-90deg);
    background-image: url(../assets/img/check.svg);
    background-size: 49px 31px;
  }
}


.close-btn {
  background-image: url(../assets/img/close.svg);
}
@include respond-to($md) {
  .btn-round{
    &_play {
      width: 80px;
      height: 80px;
      background-size: 34px 25px;
    }
  }
}

@include respond-to($sm) {
  .btn-round{
    &_play {
      width: 60px;
      height: 60px;
      background-size: 29px 20px;
    }
  }
}

@include respond-to($xs) {
  .btn{
    font-size: 10px;
    padding: 10px 16px 9px;
    border-radius: 4px;
  }
  .btn-round {
    width: 42px;
    height: 42px;

    &_back {
      background-size: 16px 18px;
    }
    &_play{
      width: 50px;
      height: 50px;
      background-size: 24px 15px;
    }
  }
}





