.card-author{
  background: #f3f5f8;
  border-radius: 80px;
  padding: 118px 0;
  margin: 40px 0;
  .container{
    display: flex;
  }

  &__avatar{
    width: 220px;
    height: 220px;
    flex-shrink: 0;
    border-radius: 50%;
    overflow: hidden;
  }
  .part-right{
    padding-left: 40px;
    padding-top: 25px;
  }
  &__title{
    font-size: 36px;
  }
  .activity{
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
  }

}


@include respond-to($xl){
  .card-author{
    &__avatar{
      width: 185px;
      height: 185px;
    }
    .part-right{
      padding-top: 10px;
    }
  }
}

@include respond-to($md){
  .card-author{
    padding-top: 80px;
    padding-bottom: 80px;
  }
}