.pagination {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
  justify-content: center;

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 32px;
    height: 32px;
    border-radius: 4px;
    color: #999CA0;
    margin: 0 6px;

    &:hover {
      color: #F16330;
    }

    &_active {
      background-color: #f16330;
      color: #ffffff;
      pointer-events: none;
    }
  }

  &__placeholder {
    pointer-events: none;
  }

  &__next {
    margin-left: 24px;
  }

  &__prev {
    margin-right: 24px;
  }

  &__next,
  &__prev {
    color: #0088ec;
  }

  .pagination__placeholder {
    display: flex;
    min-width: 18px;
  }

  @include respond-to($sm) {
    &__prev {
      + .pagination__btn {
        display: flex;
      }
    }
    &__prev,
    &__next {
      display: none;
    }
    &__btn {
      display: none;
      height: 30px;
      min-height: 30px;
      margin: 0 4px;

      &_active {
        display: flex;

        + .pagination__btn {
          display: flex;
        }
      }

      &:nth-last-child(2) {
        display: flex;
      }
    }
  }
}

