
$main-font: 'Raleway', sans-serif;

// Screen Variables

$xxs: '(max-width: 420px)';
$xs: '(max-width: 580px)';
$sm: '(max-width: 767px)';
$md: '(max-width: 991px)';
$lg: '(max-width: 1200px)';
$xl:'(max-width: 1439px)';


