.privacy-policy {
  .accordion {
    padding-top: 33px;

    .panel__title {
      font-weight: 700;
      color: #475056;
    }

    .panel-collapse {
      padding-top: 5px;
    }
  }
}

@include respond-to($xs) {
  .section.article {
    margin-bottom: 0;
  }
}
