.footer {
  background-color: #f3f5f8;
  color: #0078cd;
  font-size: 16px;
  line-height: 1.19;
  padding-top: 86px;
  border-radius: 80px 80px 0 0;

  .menu__item {
    font-size: 20px;
  }

  &__link {
    display: block;
    margin: 0 0 24px;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration-line: underline;
    color: #0088ec;

    &:hover,
    &:focus {
      text-decoration-line: none;
    }

  }

  &_top {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 36px;

    &:after {
      position: absolute;
      content: '';
      display: block;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #afafb0;
      height: 1px;
    }
  }

  &_bottom {
    padding-top: 44px;
    padding-bottom: 56px;
  }

  .copyright {
    max-width: 951px;
    margin: 0 auto;
    width: 100%;
    font-weight: 500;
    text-align: center;
  }

  .disclaimer {
    background-size: cover;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 15vh;
    z-index: 500;

    img {
      display: block;
      width: 100%;
      height: 15vh;
      max-width: 100%;
    }
  }

  .bg-white {
    background-color: #ffffff;
    padding-top: 15vh;
  }
}

.social-bar {
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;

  &__item {
    display: inline-block;
    margin-left: 50px;

    &:first-child {
      margin-left: 0;
    }
  }
}

@include respond-to($xl) {
  .footer {
    .menu__item {
      font-size: 18px;
    }
  }
}

@include respond-to($lg) {
  .footer {
    .menu {
      padding: 0 10px;
    }

    .menu__item {
      font-size: 17px;
    }

    .social-bar__item {
      margin-left: 20px;
    }

    &_top {
      align-items: baseline;
    }
  }
}

@include respond-to($md) {
  .footer {
    padding-top: 120px;
    font-size: 14px;
    &__link{
      font-size: 14px;
    }
    &__logo{
      margin-bottom: 55px;
    }
    &_top {
      flex-direction: column;
      align-items: center;
    }
    .menu{
      margin-bottom: 50px;
      &__item{
        margin-bottom: 6px;
      }
    }
    .social-bar{
      display: flex;
      justify-content: center;
      &__item {
        margin-left: 50px;
        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
}

@include respond-to($xs){
  .footer{
    border-radius: 40px 40px 0 0;
  }
}