
.container{
  width: 100%;
  max-width: 1248px;
  padding: 0 24px;
  margin: 0 auto;

  @include respond-to($xl){

  }

  @include respond-to($lg){
    max-width: 960px;
  }
  @include respond-to($md){
    max-width: 690px;
  }
  @include respond-to($sm){
    max-width: 100%;
    padding: 0 50px;
  }
  @include respond-to($xs){
    padding: 0 24px;
  }
}

.container-full{
  width: 100%;
  padding: 0 5.2%;
  @include respond-to($xs){
    padding: 0 24px;
  }
}