
.container {
  width: 100%;
  max-width: 1300px;
  padding: 0 50px;
  margin: 0 auto;

  @include respond-to($md) {
    max-width: 840px;
  }
  @include respond-to($sm) {
    max-width: 780px;
    padding: 0 40px;
  }
  @include respond-to($xs) {
    max-width: 480px;
    padding: 0 24px;
  }
}

.container-full {
  width: 100%;
  padding: 0 5.2%;
  @include respond-to($xs) {
    padding: 0 24px;
  }
}