.burger {
  display: none;
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
  padding: 0;
  .line {
    display: block;
    width: 100%;
    background-color: #2395e8;
    height: 2px;
    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  color: #0078cd;
  padding: 36px 0;
  background-color: transparent;
  z-index: 1000;

  .container-full {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    display: block;
    max-width: 146px;

    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }
}

.decor:before {
  position: absolute;
  content: '';
  display: block;
  left: 0;
  right: 0;
  top: -36px;
  bottom: -36px;
  z-index: -1;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(4px);
}

.lang {
  &__toggle {
    font-size: 20px;
    line-height: 1;
    text-transform: uppercase;
    display: flex;

    &_mob {
      display: none;
    }
  }

  &__link {
    display: block;
    padding: 0 10px;

    &.active {
      font-weight: 800;
    }
  }
}


//  ------ backdrop

.backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: .5;
  z-index: 800;
}

@media screen and (max-width: 1600px) {

}

@include respond-to($xl) {

}

@include respond-to($lg) {
  .lang__toggle_desk {
    display: none;
  }
  .lang__toggle_mob {
    display: block;
  }
  .burger {
    display: block !important;
  }
  .header__nav {
    padding-top: 60px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    max-width: 420px;
    width: 100%;
    max-height: 100%;
    overflow-y: auto;
    text-align: left;
    background-color: #fff;
    transition: transform .5s;
    transform: translateX(-100%);
    z-index: 999;

    &.open {
      transform: translateX(0);
    }

    .btn-close {
      display: block !important;
    }
  }
}

@include respond-to($sm) {
}

@include respond-to($xs) {
  .header {
    padding-top: 44px;
    padding-bottom: 26px;
  }
}

